<section class="contact p-5 ">
  <div class="container">
    <div class="row ">
          <div class="col-md-12 text-center">
            <div class="inner py-5 mt-5">
              <h1>CONATCT SECTION</h1>
            <div class="my-line d-flex mt-3 justify-content-center">
              <div class="line me-3"></div>
              <i class="fa-solid fa-star translate-middle-y"></i>
            <div class="line ms-3"></div>
            </div>
            </div>
          </div>
          <div class="col-md-8 mx-auto">
            <div class="inner p-5">
              <div class="user position-relative">
                <label class=" text-success position-absolute" [class]=" val1 != '' ? 'my-lable' : ''  ">UserName :</label>
              <input type="text" class=" form-control my-3" placeholder="UserName" [(ngModel)]= " val1 ">
              </div>
              <div class="user position-relative">
                <label class=" text-success position-absolute" [class]=" val2 != '' ? 'my-lable' : ''  ">UserAge :</label>
                <input type="text" class=" form-control my-3" placeholder="UserAge" [(ngModel)]= " val2 ">

              </div>

              <div class="user position-relative">
                <label class=" text-success position-absolute" [class]=" val3 != '' ? 'my-lable' : ''  ">UserMail :</label>
                <input type="text" class=" form-control my-3" placeholder="UserMail" [(ngModel)]= " val3 ">

              </div>
              <div class="user position-relative">
                <label class=" text-success position-absolute" [class]=" val4 != '' ? 'my-lable' : ''  ">UserPassword :</label>
                <input type="password" class=" form-control my-3" placeholder="UserPasword" [(ngModel)]= " val4 ">

              </div>
              <button class="btn btn-success">Send Massage</button>
            </div>

          </div>
    </div>

  </div>
</section>
