.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: white;
  text-decoration: none;
  white-space: nowrap;
  font-size: 32px;
  font-weight: 700;
}
.navbar{
  background-color: #2C3E50;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: white;
  font-weight: 700;
  font-size: 16px;
}
.navbar-nav .nav-link{
  color: white;

  font-weight: 700;
  font-size: 16px;
  
}
