<section class="portf text-center p-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-12">
        <div class="inner py-4 mt-5">
          <h1>PORTFOLIO COMPONENT</h1>
        <div class="my-line d-flex mt-3 justify-content-center">
          <div class="line me-3"></div>
          <i class="fa-solid fa-star translate-middle-y"></i>
        <div class="line ms-3"></div>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner position-relative">
          <img src="assets/poert1.png" class="w-100 rounded-2" alt="" >

          <div (click)="getAttr( $event )" class="leyar rounded-2 w-100 h-100 position-absolute justify-content-center align-items-center top-0 ">

            <i (click)="getAttr( $event )" class="fa-solid fa-plus text-white fa-6x"></i>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner position-relative">
          <img src="assets/port2.png" class="w-100 rounded-2" alt="">
          <div (click)="getAttr( $event )"  class="leyar rounded-2 w-100 h-100 position-absolute justify-content-center align-items-center top-0 ">

            <i (click)="getAttr( $event )" class="fa-solid fa-plus text-white fa-6x"></i>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner position-relative">
          <img src="assets/port3.png" class="w-100 rounded-2" alt="">
          <div (click)="getAttr( $event )" class="leyar rounded-2 w-100 h-100 position-absolute justify-content-center align-items-center top-0 ">

            <i (click)="getAttr( $event )" class="fa-solid fa-plus text-white fa-6x"></i>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner position-relative">
          <img src="assets/poert1.png" class="w-100 rounded-2" alt="">
          <div (click)="getAttr( $event )" class="leyar rounded-2 w-100 h-100 position-absolute justify-content-center align-items-center top-0" >

            <i class="fa-solid fa-plus text-white fa-6x"></i>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner position-relative">
          <img src="assets/port2.png" class="w-100 rounded-2" alt="">
          <div (click)="getAttr( $event )" class="leyar rounded-2 w-100 h-100 position-absolute justify-content-center align-items-center top-0">

            <i (click)="getAttr( $event )" class="fa-solid fa-plus text-white fa-6x"></i>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner position-relative">
          <img src="assets/port3.png" class="w-100 rounded-2" alt="">
          <div (click)="getAttr( $event )" class="leyar rounded-2 w-100 h-100 position-absolute justify-content-center align-items-center top-0 ">

            <i (click)="getAttr( $event )" class="fa-solid fa-plus text-white fa-6x"></i>

          </div>
        </div>
      </div>
    </div>
  </div>


    <div (click)="close()" class="spac-photo position-fixed bg-black bg-opacity-25 fixed-top bottom-0  align-items-center justify-content-center">
      <img class="w-50 rounded-2" alt="">
    </div>

</section>
