 <section class="home p-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner d-flex justify-content-center align-items-center flex-column text-white">
          <img src="assets/avataaars.svg" class="w-25 mb-3" alt="">
          <h2 class=" fw-bold">START FRAMEWORK</h2>
          <div class="my-line d-flex mt-3">
            <div class="line me-3"></div>
            <i class="fa-solid fa-star translate-middle-y"></i>
          <div class="line ms-3"></div>
          </div>
          <div class="content">
            <p>Graphic Artist - Web Designer - Illustrator</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 



















